<!DOCTYPE html>
{% load static %}

<html> 
    <head>
        {% block title %}<title>B2B Site</title>{% endblock %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation.min.css">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto|Roboto+Condensed&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/companies.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/pages.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/header.css'%}">
        <link rel="shortcut icon" href="{%static 'images/d2d-icon.ico' %}" type='image/x-icon'">
        <script src="https://kit.fontawesome.com/92ed4f50f3.js" crossorigin="anonymous"></script>

    </head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <body>
    {% block content %}            
    

        <div class="title_bar">        
            <img src="{% static 'images/d2d-logo.png' %}" class="logo">
            <span class="nav">
                <h1>Profiles</h1>
                <h1>Reporting</h1>
                <i class="fas fa-user-circle user-circle"></i>             
            </span>      
        </div>


        <div class='details'>

            <div class="title">Company Profiles
                <button class="button_css" type="submit">ADD COMPANY</button>
            </div>            

            {% if company_list %}

            <div class="company_list">
                <table>
                    <tr>
                        <th>Company Name</th>
                        <th class="center">Contact Number</th>
                        <th class="center">View Report</th>
                    </tr>

                    {% for company in company_list %}
                    <tr>
                        <td><strong>{{company.company_name}}</strong></td>
                        <td class="center">{{company.contact_number}}</td>
                        <td class="center">Report</td>
                    </tr>
                    {% endfor %}
                </table>

                <div class="pages">
                    {% if company_list.has_previous %}
                        <a href="?page=1" class="prev">First</a>
                        <a href="?page={{ company_list.previous_page_number}}" class="prev">Prev</a>
                    {% endif %}
                    
                    {% for num in company_list.paginator.page_range %}
                        {% if company_list.number == num %}
                            <span class="cur_page">{{num}}</span>
                        {% elif num > company_list.number|add:'-2' and num < company_list.number|add:'2' %}
                            <span class="page_num">{{num}}</span>
                        {% endif %}
        
                    {% endfor %}

                    {% if company_list.has_next %}
                        <a href="?page={{ company_list.next_page_number }}" class="next">Next</a>
                        <a href="?page={{ company_list.paginator.num_pages }}" class="next">Last</a>

                    {% endif %}
                </div>

            </div>
            {% else %}
                <p>No companies available at this time</p>
            {% endif %}
        </div>

    {% endblock %}
    </body>

</html>