{% extends 'form_background.html' %}
{%load static%}
{% block content %}

    {% include "_modal.html" %}
    <div class="content">
        <!-- Uncomment to make title bar width of the content -->
        <!-- <div class="title_bar">
            <p style="color: white">D2D</p>
        </div> -->
        <div>
        <div class="link">
            {% if user.is_superuser %}
            <button><a href="/../company" class = "labels"> &#x2190 Profiles</a></button>
            {% endif %}
        </div>
        <div class = "details-block">
        <span id = "title" class = "title"> <strong>{{ company.name }} </strong></span>
        {% if user.is_superuser %}
        <button class="update-company" type="button" name="button" data-id="{% url 'update_company' company.pk %}"><span><i class='fas fa-pen icons'></i></span></button>
        {% endif %}
        <div class="indent">
            <span class = "labels">Contact Person </span>
            <span class = "details" id = "contact">{{ company.contact_person }}</span>
            <br>
            <span class = "labels">Company Number </span>
            <span class = "details" id = "number"> {{ company.contact_number }}</span>
        </div>
        <div class = "grid-x grid-padding-x profile-custom">
            <div class = "large-6 medium-6 small-12 cell">
                <span class = "labels">Searchable Websites</span>
                    {% for site in company.search_sites %}
                        <p class="details bolded">{{site}}</p>
                    {% endfor %}
            </div>
            <div class = "small-12 medium-6 large-6 cell">
                    <span class = "labels">Book Formats </span>
                    {% for bookFormat in company.book_formats %}
                        <p class="details bolded">{{bookFormat}}</p>
                    {% endfor %}
            </div>
        </div>

        <div >
            <div>
                <span class = "title user-title">Users</span>
                <div class = "button_padding create-user">
                    {% if user.is_superuser %}
                    <button class="create-user button_css" type="button" name="button">ADD USER</button>
                    {% endif %}
                </div>
                
            </div>
        </div>
    
    {% if users %}
    <div class="users_list ">
        <table>
            <tr class="headers">
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                {% if user.is_superuser %}
                <th>Actions</th>
                {% endif %}
            </tr>
            {% for company_user in users %}
               
            <tr class="details">   
                <td>{{company_user.username}}</td> 
                <td>{{company_user.first_name}} {{company_user.last_name}}</td>
                <td>{{company_user.email}}</td>
                {% if user.is_superuser %}
                <td>
                    <button type="button" class="update-user" data-id="{% url 'update_user' company.pk user.pk %}">
                        <i class='fas fa-pen icons'></i><span>Edit</span>
                    </button>
                    <br>
                    <button type="button" class="delete-user" data-id="{% url 'delete_user' company.pk user.pk %}">
                        <i class='fas fa-trash icons'></i><span>Delete</span>
                    </button>
                
                </td>
                {% endif %}
            </tr>
            
        {% endfor %}
        </table>
    {% else %}
        <p class="labels">No users added yet.</p>
    {% endif %}
    </div>
    </div>
    <div class="col"> 
        <div class="row">
            <div class="col-12 mb-3">
            
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrascripts %}
  <script type="text/javascript">
    $(function () {

      // Update company button
      $(".update-company").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      })

      // Create user button
      $(".create-user").modalForm({formURL: "{% url 'create_user' company.pk %}", modalID: "#create-modal"});

      // Delete user buttons
      $(".delete-user").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      })

      // Update user buttons
      $(".update-user").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      })

    });
  </script>
{% endblock extrascripts %}
