{% extends 'form_background.html' %}

{% block content %}
    {% include "_modal.html" %}
<h1>Companies</h1>

<div class="col"> 
    <div class="row">
        <div class="col-12 mb-3">
        <button class="create-company btn btn-primary" type="button" name="button">
            <span class="fa fa-plus mr-2"></span>Add User</button>
        </div>
    </div>
</div>
<ul>
{% for company in company_list %}
    <li><a href="{% url 'company_detail' company.pk %}">{{ company.name }}</a> {{ company.contact_number }}</li>
{% empty %}
    <li>No companies yet.</li>
{% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock content %}

{% block extrascripts %}
  <script type="text/javascript">
    $(function () {

      // Create user button
      $(".create-company").modalForm({formURL: "{% url 'create_company' %}", modalID: "#create-modal"});

    });
  </script>
{% endblock extrascripts %}
