<!DOCTYPE html>
{% load static %}

<html> 
    <head>
        {% block title %}<title>B2B Site</title>{% endblock %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation.min.css">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto|Roboto+Condensed&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css'%}">

    </head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
<body>
    {% block content %}
    <div class="title_bar">
       <!-- <img src="d2d-logo.png">-->
       <p style="color: white">D2D</p>
    </div>
    <div class="link">
        <button><a href="../../companyProfiles" class = "labels"> &#x2190 Profiles</a></button>
        <div class = "details-block">
        <span id = "title" class = "title"> <strong>{{ company_name }} </strong></span>
        <span><i class='fas fa-pen icons'></i>
        <i class='fas fa-trash icons'></i></span>
            <div class="indent">
                <span class = "labels">Contact Person </span>
                <span class = "details" id = "contact">{{ company_contact }}</span>
                <br>
                <span class = "labels">Company Number </span>
                <span class = "details" id = "number"> {{ company_number }}</span>
            </div>
            <div class = "grid-x grid-padding-x profile-custom">
                <div class = "large-6 medium-6 small-12 cell">
                    <span class = "labels">Searchable Websites</span>
                        {% for site in site_list %}
                            <p class="details bolded">{{site}}</p>
                        {% endfor %}
                </div>
                <div class = "small-12 medium-6 large-6 cell">
                        <span class = "labels">Book Formats </span>
                        {% for bookFormat in bookFormat_list %}
                            <p class="details bolded">{{bookFormat}}</p>
                        {% endfor %}
                </div>
            </div>
            <div class = "grid-x grid-padding-x">
                <div class = "large-8 medium-8 small-6 cell user-title">
                    <span class = "title">Users</span>
                    
                </div>
                <div class = "small-6 medium-4 large-4 cell button_padding user-title">
                    <button class="button_css" type="submit">ADD USER</button>
                </div>
            </div>
            
            {% if user_list %}

            <div class="users_list">
                <table>
                    <tr class="headers">
                        <th>Name</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                    {% for user in user_list %}
                    <tr class="details">    
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>
                            <i class='fas fa-pen icons'></i><span>Edit</span>
                            <br>
                            <i class='fas fa-trash icons'></i><span>Delete</span>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </div>

            <div class="pages">
                {% if users_list.has_previous %}
                    <a href="?page=1" class="prev">First</a>
                    <a href="?page={{ users_list.previous_page_number}}" class="prev">Prev</a>
                {% endif %}
                
                {% for num in users_list.paginator.page_range %}
                    {% if users_list.number == num %}
                        <span class="cur_page">{{num}}</span>
                    {% elif num > users_list.number|add:'-2' and num < users_list.number|add:'2' %}
                        <span class="page_num">{{num}}</span>
                    {% endif %}
    
                {% endfor %}

                {% if users_list.has_next %}
                    <a href="?page={{ users_list.next_page_number }}" class="next">Next</a>
                    <a href="?page={{ users_list.paginator.num_pages }}" class="next">Last</a>

                {% endif %}
            </div>

            {% endif %}
    </div>
    {% endblock %}
</body>
</html>