{% extends 'form_background.html' %}

{%load static%}

{% block content %} 
    {% include "_modal.html" %} 
<h1>{{company.name}}</h1>
<style>
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 5px;
}
th {
  text-align: left;
}
</style>
<form method="POST" action="{% url 'report' pk %}">
{% csrf_token %}
<select name="first_month">
    {% for month in month_list %}
        <option value = "{{ month }}">{{ month }}</option>
    {% endfor %}
</select>
<select name="first_year">
    {% for year in year_list %}
        <option value = "{{ year }}">{{ year }}</option>
    {% endfor %}
</select>

<select name="second_month">
    {% for month in month_list %}
        <option value = "{{ month }}">{{ month }}</option>
    {% endfor %}
</select>
<select name="second_year">
    {% for year in year_list %}
        <option value = "{{ year }}">{{ year }}</option>
    {% endfor %}
</select>
<input type="submit" value="Submit">
</form>
<ul>

{% if user_split %}
<table style="width:35%">
<h1>All Months</h1>
    <tr>
      <th>User</th>
      <th>Query Count</th>
      <th>Percentage</th>
    </tr>
{% for user, query_num in total_user_queries.items %}
    <tr>
      <td>{{ user }}</td>
      <td>{{ query_num.0 }}</td>
      <td>{{ query_num.1 }}%</td>
    </tr>
{% endfor %}
</table>
{% for month, users in user_split.items %}    
<table style="width:35%">
    <h1>{{ month }}</h1>
    <tr>
        <th>User</th>
        <th>Query Count</th>
        <th>Percentage</th>
      </tr>
{% for user, query_num in users.items %}
    <tr>
        <td>{{ user }}</td>
        <td>{{ query_num.0 }}</td>
        <td>{{ query_num.1 }}%</td>
    </tr>
{% endfor %}
</table>
{% endfor %}
{% endif %}
</ul>
{% endblock content %}