<!DOCTYPE html>
{% load static %}

<html> 
    <head>
        {% block title %}<title>B2B Site</title>{% endblock %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation.min.css">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto|Roboto+Condensed&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static '/css/header.css'%}">
    </head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
<body>
    {% block content %}
    <div class="title_bar">
        <div class = "grid-x grid-padding-x">
            <div class = "large-6 medium-6 small-12 cell">
                <span class='company'>{{company_name}}</span>
            </div>
            <div class = "large-6 medium-6 small-12 cell header-tab-wrapper">
                <span class="header-tabs">Search</span>
                <span class="header-tabs">Reporting</span>
                <i class="fas fa-user-circle profile-icon"></i>
            </div>
        </div>
    </div>

    <div class = "search-block">
        <div class = "grid-x grid-padding-x searching">
            <div class = "large-6 medium-6 small-12 cell">
                <span class = "title title-small">Search by Title, Author, and/or ISBN</span>
                <div class="search-fields">
                    <form action="/search/" method="post">
                        <label class = "navy-headers">Title</label>
                        <input id="title" type="text" name="book_title" value="{{ title }}" class="search-box" placeholder="Book Title...">
                        <label class = "navy-headers">Author</label>
                        <input  id="author" type="text" name="book_author" value="{{ author }}"  class="search-box"placeholder="First Author, Second Author...">
                        <label class = "navy-headers">ISBN</label>
                        <input  id="isbn" type="text" name="book_isbn" value="{{ isbn }}"  class="search-box" placeholder="ISBN number...">
                        <input type="submit" class="button_css search-button" value="SEARCH"></input>
                    </form>
                </div>
            </div>
            <div class = "large-6 medium-6 small-12 cell">
                <form action="/search/" method="post">
                    <label class = "title title-small">Search by JSON</label>
                    <textarea id="json" name="json" value="{{ isbn }}" class="json-field" rows="10" cols="50" placeholder="JSON BLOB STUFF"></textarea>
                    <input type="submit" class="button_css search-button" value="SEARCH"></input>
                </form>
            </div>
        </div>

        <div class="tab">
            {%for site in site_list%}
            <button class="tablinks title" onclick="openResults(event, '{{site.slug}}')">{{site.name}}</button>
            {% endfor %}
          </div>

          {% if search %}

          <div id="GB" class="tabcontent">
                <div class="search-tab-block">
                    <div class = "grid-x grid-padding-x search-results">
                        {% for book in book_list %}
                            {% if book.slug == "GB"%}
                                {% include 'includes/tabs.html' %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
          </div>
          
          <div id="KB" class="tabcontent">
                <div class="search-tab-block">
                    <div class = "grid-x grid-padding-x search-results">
                        {% for book in book_list %}
                            {% if book.slug == "KB"%}
                                {% include 'includes/tabs.html' %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
          </div>
          
          <div id="SD" class="tabcontent">
                <div class="search-tab-block">
                    <div class = "grid-x grid-padding-x search-results">
                        {% for book in book_list %}
                            {% if book.slug == "SD"%}
                                {% include 'includes/tabs.html' %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
          </div>

          <div id="LC" class="tabcontent">
                <div class="search-tab-block">
                    <div class = "grid-x grid-padding-x search-results">
                        {% for book in book_list %}
                            {% if book.slug == "LC"%}
                                {% include 'includes/tabs.html' %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
          </div>

          <div id="TB" class="tabcontent">
                <div class="search-tab-block">
                    <div class = "grid-x grid-padding-x search-results">
                        {% for book in book_list %}
                            {% if book.slug == "TB"%}
                                {% include 'includes/tabs.html' %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
          </div>

          <div id="AB" class="tabcontent">
                <div class="search-tab-block">
                    <div class = "grid-x grid-padding-x search-results">
                        {% for book in book_list %}
                            {% if book.slug == "AB"%}
                                {% include 'includes/tabs.html' %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
          </div>

          {% else %}
          <div id="NoResults">
                <div class="search-tab-block">
                    <div class = "grid-x grid-padding-x search-results">
                            <p class="details">No Results</p>
                    </div>
                </div>
          </div>
        {% endif %}
    

            <div class="pages">
                {% if users_list.has_previous %}
                    <a href="?page=1" class="prev">First</a>
                    <a href="?page={{ users_list.previous_page_number}}" class="prev">Prev</a>
                {% endif %}
                
                {% for num in users_list.paginator.page_range %}
                    {% if users_list.number == num %}
                        <span class="cur_page">{{num}}</span>
                    {% elif num > users_list.number|add:'-2' and num < users_list.number|add:'2' %}
                        <span class="page_num">{{num}}</span>
                    {% endif %}
    
                {% endfor %}

                {% if users_list.has_next %}
                    <a href="?page={{ users_list.next_page_number }}" class="next">Next</a>
                    <a href="?page={{ users_list.paginator.num_pages }}" class="next">Last</a>

                {% endif %}
            </div>

    {% endblock %}
</body>

<script>
    function openResults(evt, site) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(site).style.display = "block";
      evt.currentTarget.className += " active";
    }
    </script>
</html>