{% extends 'form_background.html' %}

{%load static%}

{% block content %} 
    {% include "_modal.html" %} 

    <div class = "search-block">
        <div class = "grid-x grid-padding-x searching">
            <div class = "large-6 medium-6 small-12 cell">
                <span class = "title title-small">Search by Title, Author, and/or ISBN</span>
                <div class="search-fields">
                    <form action="/search" method="post"> {% csrf_token %}
                        <label class = "navy-headers">Title</label>
                        <input id="title" type="text" name="searchTitle" value="{{ title }}" class="search-box" placeholder="Book Title...">
                        <label class = "navy-headers">Author</label>
                        <input  id="author" type="text" name="searchAuthor" value="{{ author }}"  class="search-box"placeholder="First Author, Second Author...">
                        <label class = "navy-headers">ISBN</label>
                        <input  id="isbn" type="text" name="searchISBN" value="{{ isbn }}"  class="search-box" placeholder="ISBN number...">
                        <input type="submit" class="button_css search-button" value="SEARCH"></input>
                    </form>
                </div>
            </div>
            <div class = "large-6 medium-6 small-12 cell">
                <form action="/search" method="post"> {% csrf_token %}
                    <label class = "title title-small">Search by JSON</label>
                    <textarea id="json" name="searchJSON" value="{{ isbn }}" class="json-field" rows="10" cols="50" 
placeholder='{ 
        "title":"Book Title",
        "author":"Book Author",
        "ISBN": ISBN 13 Number 
}'></textarea>
                    <input type="submit" class="button_css search-button" value="SEARCH"></input>
                </form>
            </div>
        </div>
        <div class="tab">
            {%for site in site_list%}
            <button class="tablinks title" onclick="openResults(event, '{{site.slug}}')">{{site.name}}</button>
            {% endfor %}
          </div>

          {% if search %}

          <div id="GB" class="tabcontent">
                <div class="search-tab-block">
                    <div class = "grid-x grid-padding-x search-results">
                        {% for key, value in searchResults.items %}
                            {% if key == "GB"%}
                                {% for list in value %}
                                {% include 'includes/tabs.html' %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
          </div>
          
          <div id="KB" class="tabcontent">
                <div class="search-tab-block">
                    <div class = "grid-x grid-padding-x search-results">
                        {% for key, value in searchResults.items %}
                            {% if key == "KB"%}
                                {% for list in value %}
                                {% include 'includes/tabs.html' %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
          </div>
          
          <div id="SD" class="tabcontent">
                <div class="search-tab-block">
                    <div class = "grid-x grid-padding-x search-results">
                        {% for key, value in searchResults.items %}
                        {% if key == "SD"%}
                            {% for list in value %}
                            {% include 'includes/tabs.html' %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
          </div>

          <div id="LC" class="tabcontent">
                <div class="search-tab-block">
                    <div class = "grid-x grid-padding-x search-results">
                        {% for key, value in searchResults.items %}
                            {% if key == "LC"%}
                                {% for list in value %}
                                {% include 'includes/tabs.html' %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
          </div>

          <div id="TB" class="tabcontent">
                <div class="search-tab-block">
                    <div class = "grid-x grid-padding-x search-results">
                        {% for key, value in searchResults.items %}
                        {% if key == "TB"%}
                            {% for list in value %}
                            {% include 'includes/tabs.html' %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
          </div>

          <div id="AB" class="tabcontent">
                <div class="search-tab-block">
                    <div class = "grid-x grid-padding-x search-results">
                        {% for key, value in searchResults.items %}
                            {% if key == "AB"%}
                                {% for list in value %}
                                {% include 'includes/tabs.html' %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
          </div>

          {% else %}
          <div id="NoResults" style="text-align: center;">
                <div class="search-tab-block">
                    <div class = "grid-x grid-padding-x search-results">
                            <p class="details">No Results</p>
                    </div>
                </div>
          </div>
        {% endif %}
    

            <div class="pages">
                {% if users_list.has_previous %}
                    <a href="?page=1" class="prev">First</a>
                    <a href="?page={{ users_list.previous_page_number}}" class="prev">Prev</a>
                {% endif %}
                
                {% for num in users_list.paginator.page_range %}
                    {% if users_list.number == num %}
                        <span class="cur_page">{{num}}</span>
                    {% elif num > users_list.number|add:'-2' and num < users_list.number|add:'2' %}
                        <span class="page_num">{{num}}</span>
                    {% endif %}
    
                {% endfor %}

                {% if users_list.has_next %}
                    <a href="?page={{ users_list.next_page_number }}" class="next">Next</a>
                    <a href="?page={{ users_list.paginator.num_pages }}" class="next">Last</a>

                {% endif %}
            </div>

{% endblock content%}
{% block extrascripts %}
<script type="text/javascript">
    function openResults(evt, site) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(site).style.display = "block";
      evt.currentTarget.className += " active";
    }
    </script>
{% endblock extrascripts %}