{% for book in list %}
    {% if book.title %}
<div class = "large-6 medium-6 small-12 cell book_padding">
    <img class="image-constraints" src="{{ book.image_url }}">
    <p class = "details bolded"><a href="{{ book.url }}" class = "details bolded" target="_blank">{{book.title}}</a></p>
    {% for author in book.authors %}
    <p class = "details">{{author}}</p>
    {% endfor %}
    <div class="left">
        <span class = "labels">Format </span>
        <span class = "details">{{book.format}}</span>
        <br>
        <span class = "labels">Search Match</span>
        <span class = "details">{{list.0}}</span>
    </div>
    <hr>
</div>
    {% endif %}
{% endfor %}
