{% load widget_tweaks %}

<form method="post" action="">
  {% csrf_token %}

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>

      <div class="form-group">
        <label class="popup-label left" for="name">Name</label>
        <input class="details user" id="name" type="text" name="name" value="{{company.name}}">
        <label class="popup-label left" for="contactPerson">Contact Person</label>
        <input class="details user" id="contactPerson" type="text" name="contactPerson" value="{{company.contactPerson}}">
        <label class="popup-label left" for="contactNumber">Contact Number</label>
        <input class="details user" id="contactNumber" type="text" name="contactNumber" value="{{company.contactNumber}}">
        <label class="popup-label left" for="searchSites">Searchable Websites</label>
        <input id="searchSites_{{ forloop.counter0 }}" name="{{ searchSites }}" type="checkbox" value="{{ value }}"{% if value in checked_providers %} checked="checked"{% endif %}>
        <label class="popup-label left" for="your_name">Book Formats</label>
      </div>

  <div class="modal-footer">
    <button type="button" class="submit-btn btn btn-primary">SAVE</button>
  </div>

</form>