{% load widget_tweaks %}

<form method="post" action="">
  {% csrf_token %}

  <div class="modal-header">
    <div class="center">
      <h3 class="modal-title">Edit Company</h3>
    </div>
  </div>

    <div class="modal-body">

    <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>

    {% for field in form %}
      <div class="form-group">
        <label class="popup-label add-company-left" for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% render_field field class="form-control" placeholder=field.label %}
        <div class="{% if field.errors %} invalid{% endif %}">
          {% for error in field.errors %}
            <p class="help-block">{{ error }}</p>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="modal-footer">
    <input type="submit" class="submit popup-button popup-save" value="UPDATE"></input>
    <button type="button" class="popup-button" data-dismiss="modal" aria-label="Close">CANCEL
    </button>
  </div>

</form>
</div>